<h2>Sign in</h2>

<%= form_with url: session_path, local: true do |f| %>
  <div>
    <%= label_tag :email, "Email" %><br>
    <%= email_field_tag :email, nil, autocomplete: "email" %>
  </div>

  <div>
    <%= submit_tag "Sign in" %>
  </div>
<% end %>
