<h1>Albums are deprecated</h1>

<p>This album view has been deprecated. Song-level reviews are now stored on the Song resource.
To see reviews for tracks, go to the <%= link_to 'Songs index', songs_path %> and search for tracks from this artist/album.</p>
