<div class="review">
  <div class="review-header">
    <span class="review-user"><%= review.user&.name || "Anonymous" %></span>
    <span class="review-rating"><%= review.rating %></span>
  </div>
  <p class="review-comment"><%= review.comment %></p>
</div>
